body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffaf0;
}

.barra-amarilla {
  background-color: #FFD700;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.menu-container {
  text-align: center;
  margin: 10px 0;
}

.menu-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.secciones {
  margin-top: 10px;
}

.secciones a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #cc0000;
  font-weight: bold;
}

.oculto {
  display: none;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.producto {
  width: 200px;
  background-color: #fff3e6;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

footer {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}

.hamburguesa {
  font-size: 30px;
  background-color: #fff3e6;
  border: 2px solid #cc0000;
  border-radius: 8px;
  cursor: pointer;
  color: #cc0000;
  padding: 10px 15px;
  margin: 10px;
}


.menu-oculto {
  display: none;
}

.menu-visible {
  display: flex;
  flex-direction: column;
  background-color: #fff3e6;
  border: 1px solid #cc0000;
  padding: 10px;
  margin-top: 5px;
}

.menu-visible a {
  text-decoration: none;
  color: #cc0000;
  padding: 5px 0;
  font-weight: bold;
}

.menu-visible a:hover {
  color: #ff6600;
}


